body {
  text-align: center;
}

p {
  margin: 0;
  /* display: block; */
}

textarea {
  padding: 0;
}

.editor {
  border: none;
  width: 100%;
  text-align: left;
}

.func {
  border: 2px solid #d0d0d0;
  border-bottom: none;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: vertical;
  align-items: center;
  gap: 1rem;
}

.inputEdit {
  border: 2px solid #d0d0d0;
  height: 20rem;
  resize: vertical;
  overflow: auto;
}

.formatBtn {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

.selectBox {
  padding: 0.5rem;
  margin-left: 0.7rem;
}

.editHeightControl {
  border-top: 2px solid #d0d0d0;
  height: 1rem;
  cursor: pointer;
}

.modeBtn {
  padding: 0.5rem 0.4rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #e9e9e9;
  color: #242424;
}

.modeBtnOn {
  background-color: #6d9eec;
  color: #fff;
}

.modeBtnOff {
  background-color: #f8f8f8;
  color: #929292;
}
