body {
    text-align: center;
}

.editor {
    border: 2px solid #d0d0d0;
    width: 100%;
    text-align: left;
}

.func {
    border-bottom: 2px solid #d0d0d0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem
}

.inputEdit {
    height: 20rem;
}

.formatBtn {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.formatBtnActivate {
    color: #2673f0;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.formatBtnDisabled {
    color: #d0d0d0;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.selectBox {
    padding: 0.5rem;
}

.radioBtn {
    font-size: 0.8rem;
}

.radioOption{
    cursor: pointer;
}